body {
    background-color: #BCFFB9;
}

h1 {
    text-align: center;
    color: #FF3F00;
}

.maral:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.erbol:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.ainura:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.zhyldyzbek:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.rasul:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.zhumagul:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.omurbek:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.meerim:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.malika:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.eliza:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.gulzina:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.chyngyzbek {
    border-radius: 50%;
}

.chyngyzbek:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.gulina:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}

.nurtazim:hover {
    box-shadow: 0px 0px 15px rgb(17, 0, 255);
    border-radius: 50%;
}